@model Center_Education_Management.Models.QRToken

@{
    ViewData["Title"] = "QRToken Details";
}

<h2>QRToken Details</h2>

<dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Id)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Id)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.SessionId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.SessionId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.GeneratedById)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.GeneratedById)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Token)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Token)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.GeneratedAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.GeneratedAt)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.ExpiresAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.ExpiresAt)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Status)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Status)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
