@model Center_Education_Management.Model.ManualGrade

@{
    ViewData["Title"] = "ManualGrade Details";
}

<h2>ManualGrade Details</h2>

<dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Id)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Id)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.StudentId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.StudentId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.RecordedById)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.RecordedById)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.GroupId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.GroupId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.SubjectId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.SubjectId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Points)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Points)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Notes)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Notes)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.GradedAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.GradedAt)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
