@model Center_Education_Management.Models.ExamAttempt

@{
    ViewData["Title"] = "Delete ExamAttempt";
}

<h2>Delete ExamAttempt</h2>

<div class="alert alert-danger">Are you sure you want to delete this item?</div>

<dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Id)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Id)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.ExamId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.ExamId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.StudentId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.StudentId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Status)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Status)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.StartedAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.StartedAt)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.SubmittedAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.SubmittedAt)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.TotalPoints)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.TotalPoints)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Percentage)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Percentage)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Score)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Score)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.QuestionBankId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.QuestionBankId)</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
