@model Center_Education_Management.Models.Subject

@{
    ViewData["Title"] = "Subject Details";
}

<h2>Subject Details</h2>

<dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Id)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Id)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Name)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.CenterId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.CenterId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.IsActive)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.IsActive)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.StageId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.StageId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.CreatedAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.CreatedAt)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
