@model Center_Education_Management.Model.Classroom

@{
    ViewData["Title"] = "Classroom Details";
}

<h2>Classroom Details</h2>

<dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Id)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Id)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.CenterId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.CenterId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Name)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Capacity)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Capacity)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Type)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Type)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.IsVirtual)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.IsVirtual)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.IsActive)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.IsActive)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
