@model Center_Education_Management.Models.Content

@{
    ViewData["Title"] = "Content Details";
}

<h2>Content Details</h2>

<dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Id)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Id)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.TeacherId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.TeacherId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.GroupId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.GroupId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.SessionId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.SessionId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.UploadedByID)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.UploadedByID)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Type)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Type)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Title)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Title)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Url)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Url)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.SizeBytes)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.SizeBytes)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Visibility)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Visibility)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.CreatedAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.CreatedAt)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
