@model IEnumerable<Center_Education_Management.Model.Content>

@{
    ViewData["Title"] = "Content List";
}

<h2>Content</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">+ Create New</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.TeacherId)</th>
            <th>@Html.DisplayNameFor(m => m.GroupId)</th>
            <th>@Html.DisplayNameFor(m => m.SessionId)</th>
            <th>@Html.DisplayNameFor(m => m.UploadedByID)</th>
            <th>@Html.DisplayNameFor(m => m.Type)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
                <td>@Html.DisplayFor(m => item.Id)</td>
                <td>@Html.DisplayFor(m => item.TeacherId)</td>
                <td>@Html.DisplayFor(m => item.GroupId)</td>
                <td>@Html.DisplayFor(m => item.SessionId)</td>
                <td>@Html.DisplayFor(m => item.UploadedByID)</td>
                <td>@Html.DisplayFor(m => item.Type)</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
