@model Center_Education_Management.Models.QuestionBank

@{
    ViewData["Title"] = "Delete QuestionBank";
}

<h2>Delete QuestionBank</h2>

<div class="alert alert-danger">Are you sure you want to delete this item?</div>

<dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Id)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Id)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.TeacherId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.TeacherId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.CenterId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.CenterId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.SubjectId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.SubjectId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Lesson)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Lesson)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Type)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Type)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Body)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Body)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.OptionsJson)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.OptionsJson)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.CorrectAnswer)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.CorrectAnswer)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Points)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Points)</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
