@model Center_Education_Management.Model.ExamQuestion

@{
    ViewData["Title"] = "ExamQuestion Details";
}

<h2>ExamQuestion Details</h2>

<dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Id)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Id)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.ExamId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.ExamId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.QuestionBankId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.QuestionBankId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.BodySnapshot)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.BodySnapshot)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.OptionsSnapshot)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.OptionsSnapshot)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.CorrectAnswer)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.CorrectAnswer)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Type)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Type)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Points)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Points)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.OrderIndex)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.OrderIndex)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
