@model Center_Education_Management.Models.Assignment

@{
    ViewData["Title"] = "Assignment Details";
}

<h2>Assignment Details</h2>

<dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Id)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Id)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Name)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.StartDate)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.StartDate)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.DueDate)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.DueDate)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.TeacherId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.TeacherId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.GroupId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.GroupId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.SubjectId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.SubjectId)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Status)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Status)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
